@page "/ProductCart"

@using System.Net.Http.Json

<MudGrid>
	<MudItem xs="6">
        <MudGrid>
            <MudItem xs="12" Style="margin-top: 10px">
                <MudSelect Dense="true" T="string" Label="Users" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
            </MudItem>
        </MudGrid>
        <div style="margin-top: 550px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </MudItem>
	<MudItem xs="6">
		<MudGrid>
             <MudItem xs="12" Style="margin-top: 10px">
                <MudSelect Dense="true" T="string" Label="Category" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
             </MudItem>
             <MudItem xs="12" >
                 <MudAutocomplete T="string" Label="Search" @bind-Value="value2" SearchFunc="@Search2"
                  ResetValueOnEmptyText="@resetValueOnEmptyText"
                  CoerceText="@coerceText" CoerceValue="@coerceValue"
                 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
             </MudItem>
    </MudGrid>
    <div style="height: 600px; overflow: auto;">
    <MudGrid Style="margin-top: 10px;">
        <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/1.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
        </MudItem>
             <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/2.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
             </MudItem>
              <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/3.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
              </MudItem>
    </MudGrid>
        <MudGrid>
            <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/4.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/5.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="4">
                <MudCard>
                    <MudCardMedia Image="images/6.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
        </div>
	</MudItem>
</MudGrid>
@code {

    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private string value1;
    private string value2;
    private string[] states =
    {
        "Alabama", "Alaska", "American Samoa", "Arizona",
        "Arkansas", "California", "Colorado", "Connecticut",
        "Delaware", "District of Columbia", "Federated States of Micronesia",
        "Florida", "Georgia", "Guam", "Hawaii", "Idaho",
        "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky",
        "Louisiana", "Maine", "Marshall Islands", "Maryland",
        "Massachusetts", "Michigan", "Minnesota", "Mississippi",
        "Missouri", "Montana", "Nebraska", "Nevada",
        "New Hampshire", "New Jersey", "New Mexico", "New York",
        "North Carolina", "North Dakota", "Northern Mariana Islands", "Ohio",
        "Oklahoma", "Oregon", "Palau", "Pennsylvania", "Puerto Rico",
        "Rhode Island", "South Carolina", "South Dakota", "Tennessee",
        "Texas", "Utah", "Vermont", "Virgin Island", "Virginia",
        "Washington", "West Virginia", "Wisconsin", "Wyoming",
    };



    private async Task<IEnumerable<string>> Search2(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, don't return values (drop-down will not open)
        if (string.IsNullOrEmpty(value))
            return new string[0];
        return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private string data1;
    private string data2;
    private string data3;
    private string data4;

    
}